Test (f $[FVWM_USERDIR]/themes/MMM/components/GlobalFunctions.src) Read $[FVWM_USERDIR]/themes/MMM/components/GlobalFunctions.src
Test (f $[FVWM_USERDIR]/themes/MMM/config/input.conf) Read $[FVWM_USERDIR]/themes/MMM/config/input.conf
Test (f $[FVWM_USERDIR]/themes/MMM/config/settings.conf) Read $[FVWM_USERDIR]/themes/MMM/config/settings.conf
Test (f $[FVWM_USERDIR]/themes/MMM/components/modules/HorizontalTaskBar/HorizontalTaskBar.sys) Read $[FVWM_USERDIR]/themes/MMM/components/modules/HorizontalTaskBar/HorizontalTaskBar.sys
Test (f $[FVWM_USERDIR]/themes/MMM/components/modules/Menu.sys) Read $[FVWM_USERDIR]/themes/MMM/components/modules/Menu.sys
Test (f $[FVWM_USERDIR]/themes/MMM/decor.config) Read $[FVWM_USERDIR]/themes/MMM/decor.config
Test (f $[FVWM_USERDIR]/themes/MMM/components/modules/FvwmModules.sys) Read $[FVWM_USERDIR]/themes/MMM/components/modules/FvwmModules.sys
Read $[FVWM_USERDIR]/themes/MMM/components/modules/TofuPager.sys
Read $[FVWM_USERDIR]/themes/MMM/components/modules/Autohide.sys

Test (f $[InfoStore.colorsetDirectory]$[Infostore.defaultColorset]) Read $[InfoStore.colorsetDirectory]$[Infostore.defaultColorset]



