Test (f $[FVWM_USERDIR]/themes/MMM/functions.config) Read $[FVWM_USERDIR]/themes/MMM/functions.config
Test (f $[FVWM_USERDIR]/themes/MMM/input.config) Read $[FVWM_USERDIR]/themes/MMM/input.config
Test (f $[FVWM_USERDIR]/themes/MMM/settings.config) Read $[FVWM_USERDIR]/themes/MMM/settings.config
Test (f $[FVWM_USERDIR]/themes/MMM/colors.config) Read $[FVWM_USERDIR]/themes/MMM/colors.config
Test (f $[FVWM_USERDIR]/themes/MMM/taskbar.config) Read $[FVWM_USERDIR]/themes/MMM/taskbar.config
Test (f $[FVWM_USERDIR]/themes/MMM/menu.config) Read $[FVWM_USERDIR]/themes/MMM/menu.config
Test (f $[FVWM_USERDIR]/themes/MMM/decor.config) Read $[FVWM_USERDIR]/themes/MMM/decor.config
Test (f $[FVWM_USERDIR]/themes/MMM/modules.config) Read $[FVWM_USERDIR]/themes/MMM/modules.config
Read $[FVWM_USERDIR]/themes/MMM/vPager5.sys
Read $[FVWM_USERDIR]/themes/MMM/autohide.sys



