Test (f $[FVWM_USERDIR]/themes/Fvwm-StarterKit/config/settings.conf) Read $[FVWM_USERDIR]/themes/Fvwm-StarterKit/config/settings.conf
Test (f $[InfoStore.componentDirectory]GlobalFunctions.src) Read $[InfoStore.componentDirectory]GlobalFunctions.src
Test (f $[InfoStore.modulesDirectory]FvwmModules.sys) Read $[InfoStore.modulesDirectory]FvwmModules.sys
Test (f $[InfoStore.configDirectory]input.conf) Read $[InfoStore.configDirectory]input.conf
Test (f $[InfoStore.modulesDirectory]Menu.sys) Read $[InfoStore.modulesDirectory]Menu.sys
Test (f $[InfoStore.modulesDirectory]HorizontalTaskBar/HorizontalTaskBar.sys) Read $[InfoStore.modulesDirectory]HorizontalTaskBar/HorizontalTaskBar.sys

Read $[InfoStore.modulesDirectory]TofuPager.sys
Read $[InfoStore.modulesDirectory]Autohide.sys
Test (f $[FVWM_USERDIR]/themes/Fvwm-StarterKit/decor.config) Read $[FVWM_USERDIR]/themes/Fvwm-StarterKit/decor.config
Test (f $[InfoStore.colorsetDirectory]$[Infostore.defaultColorset]) Read $[InfoStore.colorsetDirectory]$[Infostore.defaultColorset]





