Read $[FVWM_USERDIR]/themes/MMM/styles/default.style
         
#Style * Colorset 21, HilightColorset 19, \
#        BorderColorset 21, HilightBorderColorset 20

Style *ConfirmQuit MWMBorder, Title, Borders, !Handles, Sticky, !StippledTitle, FirmBorder, HandleWidth 6, BorderWidth 6, BorderColorset 2, HilightBorderColorset 2, HilightColorset 2, !Button 1, !Button 2, !Button 4, !Button 6
# FvwmTaskBar styles
Style FvwmTaskBar  !Title, !Handles, WindowListSkip, \
                  StaysOnTop, Sticky, NeverFocus

# AddToDecor TaskBarBorderDecor
# + BorderStyle Simple -- NoInset

*FvwmScript: DefaultColorset 2

