# Root Menu
#
# The root menu will PopUp with a click in the root
# window or using alt-f1 (or menu).
DestroyMenu MenuFvwmRoot
AddToMenu   MenuFvwmRoot "Menu" Title
+ "&FileManager%themes/MMM/icons/home.png%" Exec exec $[infostore.filemanager]
+ "&Internet%themes/MMM/icons/firefox.png%" Exec exec $[infostore.browser]
+ "&Text Editor%themes/MMM/icons/text.xpm%" Exec exec $[infostore.textEditor]
+ "&Terminal%themes/MMM/icons/terminal.png%" Exec exec $[infostore.terminal]
+ "" Nop
+ "Run...%themes/MMM/icons/window-new.png%" Exec exec $[infostore.programRunner]
+ "&QuickAccess%themes/MMM/icons/applications-accessories.png%" Popup MenuPrograms
+ "" Nop
+ "System%themes/MMM/icons/emblem-system.png%" Popup MenuFvwmManPages

# Generate XDGMenu
PipeRead "fvwm-menu-desktop -e"

# Programs Menu
#
# This test for some common programs and adds them to the menu.
# When adding programs you don't need to use the Test (x foo)
# lines as this is only to help make this menu portable.
DestroyMenu MenuPrograms
AddToMenu   MenuPrograms "Programs" Title
Test (x firefox) + "&Firefox%themes/MMM/icons/firefox.png%" Exec exec firefox
Test (x firefox) + "&Steam%themes/MMM/icons/firefox.png%" Exec exec firefox
Test (x firefox) + "&Discord%themes/MMM/icons/firefox.png%" Exec exec firefox
Test (x firefox) + "&Retroarch%themes/MMM/icons/firefox.png%" Exec exec firefox
Test (x firefox) + "&Blender%themes/MMM/icons/firefox.png%" Exec exec firefox
Test (x gvim) + "gVim" Exec exec gvim
Test (x xemacs) + "XEmacs" Exec exec xemacs
Test (x gimp) + "Gimp" Exec exec gimp
Test (x vlc) + "VLC" Exec exec vlc

# Background Menu
#
# Backgrounds are located in ~/.fvwm/images/background/
# Menu icons are located in ~/.fvwm/images/bgicons/
DestroyMenu BGMenu
AddToMenu   BGMenu "Wallpapers" Title
+ "Floral%bgicons/bg1.png%" SetBG bg1.png
+ "Circles%bgicons/bg2.png%" SetBG bg2.png
+ "Space%bgicons/bg3.png%" SetBG bg3.png


DestroyMenu WallpaperMenu
AddToMenu WallpaperMenu "Wallpapers" Title
PipeRead 'for i in $[FVWM_USERDIR]/themes/MMM/bg/*.png; do \
  echo "AddToMenu WallpaperMenu $(basename -s .png $i) Exec exec feh --bg-tile $i"; done'

# Window Operations Menus
DestroyMenu MenuWindowOps
AddToMenu   MenuWindowOps
+ "Move"      Move
+ "Resize"    Resize
+ "Iconify"   Iconify
+ "Maximize"  Maximize
+ "Shade"     WindowShade
+ "Stick"     Stick
+ "" Nop
+ "Close"     Close
+ "More..."   Menu MenuWindowOpsLong This 0 0

DestroyMenu MenuWindowOpsLong
AddToMenu   MenuWindowOpsLong
+ "Move"                Move
+ "Resize"              Resize
+ "(De)Iconify"         Iconify
+ "(Un)Maximize"        Maximize
+ "(Un)Shade"           WindowShade
+ "(Un)Sticky"		Stick
+ "(No)TitleBar"	Pick (CirculateHit) ToggleTitle
+ "Send To"             Popup MenuSendTo
+ "" Nop
+ "Close"               Close
+ "Destroy"             Destroy
+ "" Nop
+ "Raise"		Raise
+ "Lower"		Lower
+ "" Nop
+ "StaysOnTop"          Pick (CirculateHit) Layer 0 6
+ "StaysPut"            Pick (CirculateHit) Layer 0 4
+ "StaysOnBottom"       Pick (CirculateHit) Layer 0 2
+ "" Nop
+ "Identify"            Module FvwmIdent

DestroyMenu MenuIconOps
AddToMenu   MenuIconOps
+ "Close"               Close
+ "Destroy"             Destroy
+ "" Nop
+ "(Un)Maximize"        Maximize
+ "(No)TitleBar"	Pick (CirculateHit) ToggleTitle
+ "Send To"             Popup MenuSendTo
+ "" Nop
+ "Raise"		Raise
+ "Lower"		Lower
+ "" Nop
+ "StaysOnTop"          Pick (CirculateHit) Layer 0 6
+ "StaysPut"            Pick (CirculateHit) Layer 0 4
+ "StaysOnBottom"       Pick (CirculateHit) Layer 0 2
+ "" Nop
+ "Identify"            Module FvwmIdent

DestroyMenu MenuSendTo
AddToMenu MenuSendTo
+ "Current" MoveToCurrent
+ "Page" PopUp MenuSendToPage
+ "Desk" PopUp MenuSendToDesk

DestroyMenu MenuSendToDesk
AddToMenu   MenuSendToDesk
+ "Desk 0"	MoveToDesk 0 0
+ "Desk 1"	MoveToDesk 0 1
+ "Desk 2"	MoveToDesk 0 2
+ "Desk 3"	MoveToDesk 0 3

DestroyMenu MenuSendToPage
AddToMenu   MenuSendToPage
+ "Page (0,0)"	MoveToPage 0 0
+ "Page (0,1)"	MoveToPage 0 1
+ "Page (1,0)"	MoveToPage 1 0
+ "Page (1,1)"	MoveToPage 1 1



DestroyMenu MenuManPages
AddToMenu MenuManPages
+ "fvwm"                ViewManPage fvwm
+ "FvwmAnimate"         ViewManPage FvwmAnimate
+ "FvwmAuto"            ViewManPage FvwmAuto
+ "FvwmBacker"          ViewManPage FvwmBacker
+ "FvwmBanner"          ViewManPage FvwmBanner
+ "FvwmButtons"         ViewManPage FvwmButtons
+ "FvwmCommand"         ViewManPage FvwmCommand
+ "FvwmConsole"         ViewManPage FvwmConsole
+ "FvwmEvent"           ViewManPage FvwmEvent
+ "FvwmForm"            ViewManPage FvwmForm
+ "FvwmIconMan"         ViewManPage FvwmIconMan
+ "FvwmIdent"           ViewManPage FvwmIdent
+ "FvwmPager"           ViewManPage FvwmPager
+ "FvwmPerl"            ViewManPage FvwmPerl
+ "FvwmProxy"           ViewManPage FvwmProxy
+ "FvwmRearrange"       ViewManPage FvwmRearrange
+ "FvwmScript"          ViewManPage FvwmScript
+ "" Nop
+ "fvwm-root"	        ViewManPage fvwm-root
+ "fvwm-menu-desktop"   ViewManPage fvwm-menu-desktop
+ "fvwm-menu-directory" ViewManPage fvwm-menu-directory
+ "fvwm-menu-headlines" ViewManPage fvwm-menu-headlines
+ "fvwm-menu-xlock"     ViewManPage fvwm-menu-xlock
+ "fvwm-config"         ViewManPage fvwm-config


DestroyMenu ColorMenuCDE
AddToMenu ColorMenuCDE "CDE Color sets" Title
PipeRead 'for i in $[FVWM_USERDIR]/themes/MMM/colorsets/cde/*.colors; do \
  echo "AddToMenu ColorMenuCDE $(basename -s .colors $i) Read $i"; done'
  
DestroyMenu ColorMenuLuthien
AddToMenu ColorMenuLuthien "Luthien Color sets" Title
PipeRead 'for i in $[FVWM_USERDIR]/themes/MMM/colorsets/luthien/*.colors; do \
  echo "AddToMenu ColorMenuLuthien $(basename -s .colors $i) Read $i"; done'


DestroyMenu ColorMenu
AddToMenu ColorMenu "Color sets" Title
+ "&CDE Colors%themes/MMM/icons/wallpaper.png%" Popup ColorMenuCDE
+ "&LuthienColors%themes/MMM/icons/wallpaper.png%" Popup ColorMenuLuthien
PipeRead 'for i in $[FVWM_USERDIR]/themes/MMM/colorsets/tofushop/*.colors; do \
  echo "AddToMenu ColorMenu $(basename -s .colors $i) Read $i"; done'
  
DestroyMenu StyleMenu
AddToMenu StyleMenu "Styles" Title
PipeRead 'for i in $[FVWM_USERDIR]/themes/MMM/styles/*.style; do \
  echo "AddToMenu StyleMenu $(basename -s .style $i) Read $i"; done'

# Fvwm Man Pages (Help) Menu
DestroyMenu MenuFvwmManPages
AddToMenu   MenuFvwmManPages "System" Title
+ "Fvwm&Console%themes/MMM/icons/xterm.png%" Module FvwmConsole -terminal $[infostore.terminal]
+ "&Wallpapers%themes/MMM/icons/wallpaper.png%" Popup WallpaperMenu
+ "&ColorSets%themes/MMM/icons/wallpaper.png%" Popup ColorMenu
+ "&Styles%themes/MMM/icons/wallpaper.png%" Popup StyleMenu
+ "" Nop
+ "&System Info%themes/MMM/icons/terminal-flat.png%" Module FvwmScript $[FVWM_USERDIR]/themes/MMM/SysInfo.src
+ "Copy Config%themes/MMM/icons/conf.xpm%" FvwmScript FvwmScript-ConfirmCopyConfig
+ "&Help%themes/MMM/icons/help.xpm%" Popup MenuManPages
+ "" Nop
+ "&Restart FVWM%themes/MMM/icons/reboot.png%" Restart
+ "&Log Out%themes/MMM/icons/shutdown.png%" Module FvwmScript $[FVWM_USERDIR]/themes/MMM/FvwmScript-Quit


