#Fvwm-StarterKit - by TofuShop

#########################
#    Initalizer File    #
#########################
#This file is used to parse fvwm-startkit's config when fvwm is started or restarted, In order to build out a modular system,
#Each component is loaded from the respective file in the theme directory. Can add additional modules and systems here by using a read statement
#Pointed at your new module or config

KillModule FvwmButtons *RightPanel


#########################
# Default Directories   #
#########################
InfoStoreAdd themeRootDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/
InfoStoreAdd colorsetDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/colorsets/tofushop/
InfoStoreAdd componentDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/components/
InfoStoreAdd modulesDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/components/modules/
InfoStoreAdd configDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/config/
InfoStoreAdd stylesDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/styles/
InfoStoreAdd themesDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/themes/
InfoStoreAdd iconsDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/icons/
InfoStoreAdd menuModuleDirectory $[FVWM_USERDIR]/themes/Fvwm-StarterKit/components/modules/menu/

#########################
# Global Settings       #
#########################
#Contains default definitions for various functionality, theme, and directories #
Test (f $[InfoStore.configDirectory]settings.conf) Read $[InfoStore.configDirectory]settings.conf

#########################
# Global Functions      #
#########################
#Contains common system functions that will be used throughout the rest of the program #
Test (f $[InfoStore.componentDirectory]GlobalFunctions.src) Read $[InfoStore.componentDirectory]GlobalFunctions.src

#########################
# Fvwm Modules          #
#########################
#Built in modules Fvwm uses to build various components #
Test (f $[InfoStore.modulesDirectory]FvwmModules.sys) Read $[InfoStore.modulesDirectory]FvwmModules.sys

#########################
# Input Settings        #
#########################
#Sets default input configuration for the environment, can be set on a per theme or style basis as well #
Test (f $[InfoStore.configDirectory]input.conf) Read $[InfoStore.configDirectory]input.conf

#########################
# Menu Builder          #
#########################
#Another loader file, builds and adds various component group modules and adds them to the main menu #
Test (f $[InfoStore.modulesDirectory]Menu.sys) Read $[InfoStore.modulesDirectory]Menu.sys

#TODO - Move auto hide into pager config and move pager config into .themes files
Read $[InfoStore.modulesDirectory]TofuPager.sys
Read $[InfoStore.modulesDirectory]Autohide.sys
#########

#########################
# Default Theme         #
#########################
#Theme files contain a colorset, fonts, style, pager, titlebar buttons, and taskbar definitions plus any additional custom modules related to the theme.
Test (f $[InfoStore.themesDirectory]TofuShop.theme) Read $[InfoStore.themesDirectory]TofuShop.theme







